*{
    margin: 0;
    box-sizing: border-box;
}

.body{
    width: 2480px;
    height: 3508px;
    font-family: 'Open Sans', sans-serif;
}

.cabecalho {        
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.main  h2{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.main input, .main p {
    font-size: 15px;
    text-align: justify;
    padding: 5px;
}

.nome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

}