*{
    margin: 0;
    box-sizing: border-box;
}

.body{
    width: 2480px;
    height: 3508px;
    font-family: 'Open Sans', sans-serif;
}

.cabecalho {        
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.main {
    width: 80%;
    margin: 20px auto;
    padding: 5px;
}

.main  h2{
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

.main input, .main p {
    font-size: 22px;
    text-align: left;
    padding: 5px;
    width: 100%;
}

.main input {
    border-style: none;
    border-bottom: 2px solid black;
    
}

.ladoalado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
    
}
/*
#data {
    width: auto;
}

#end {
    width: 86%;
}

#num {
    width: 30%;
}

#bairro, #cidade {
    width: auto;
}